main {
  padding-bottom: 1rem;

  h2 {
    text-align: center;

    &.headline {
      text-align: left;
      font-size: 2rem;
      font-weight: bold;
      padding-top: 2rem;
      padding-bottom: 0.5rem;
    }
  }

  p {
    text-align: justify;
  }
}
